[*.{kt,kts}]
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)  
indent_size = 4
continuation_indent_size = 4
# possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
# it's automatically set to 100 on `ktlint --android ...` (per Android Kotlin Style Guide)
max_line_length = off

# ktlint rules configuration
# https://pinterest.github.io/ktlint/latest/rules/configuration-ktlint/
# Disable ktlint rules
# https://pinterest.github.io/ktlint/1.2.1/rules/standard/#string-template-indent
ktlint_standard_string-template-indent = disabled
# https://pinterest.github.io/ktlint/1.2.1/rules/standard/#multiline-expression-wrapping
ktlint_standard_multiline-expression-wrapping = disabled
# Ignore composable function nuaming
ktlint_function_naming_ignore_when_annotated_with = Composable
# https://pinterest.github.io/ktlint/0.49.1/rules/standard/#annotation-formatting
# Allow annotation on the same line as the declaration (e.g. for @Inject)
ktlint_standard_annotation = disabled
